@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply scrollbar-hide;
    --text-color: #242424;
    --background-color: #F8FCFA;
    --primary-color: #9BC9F8;
    --secondary-color: #9FF9F9;
    --accent-color: #0B66C1;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
